*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

@media (max-width: 600px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  input, textarea {
    font-size: 16px;
  }
}
